{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div id="main">
        <div class="header">
            <h1>ActiveClean Dashboard</h1>
        </div>

        <div class="content">
        	
        	<div class="load-start">
        	<center>

            	<h3>Step 1. Please Load A Dataset To Begin</h3>
            	<input type="file" name="data" accept="*"><br/><br/>
            	<a class="pure-button pure-button-primary" href="#" onclick="loadFile()">Go!</a>
        	</center>
       	    </div>

       	    <div class="extract-start" style="display: none;">
        	<center>
            	<h3>Step 2. Define a Schema</h3>
                <span style="width: 100%;" id="col-scroll">
                <button class="pure-button pure-button-primary" onclick="scroll()">&larr; Scroll</button>
                &nbsp;
                <!--<button type="submit" class="pure-button pure-button-primary">Next</button>-->
                <button class="pure-button pure-button-primary" onclick="scroll()">Scroll &rarr;</button>
                </span>

            </div>



        	</center>

                <div class="extract-data" style="margin-top: 10px;"></div>
        	    
        	    

                <div class="col-editor">
                        <center>
                       <h2>Edit Attribute</h2>

                       Name: <input id="attrname" placeholder="1">

                       <br/><br/>

                        Type: <select id="type">
                            <option>Numerical</option>
                            <option>Categorical</option>
                            <option>Textual</option>
                        </select>

                        <br/><br/>

                        <button class="pure-button pure-button-primary" style="background: rgb(202, 60, 60);">Delete</button> &nbsp;&nbsp;

                        <button class="pure-button pure-button-primary" style="background: rgb(28, 184, 65);">Save</button>
                    </center>
                        
                        

        	    </div>

       	    </div>

        </div>

    </div>
<script src="{% static "js/dashboard.js" %}"></script>

{% endblock %}

